/cloaked
/.vscode
/files
/Teamwork
/wp-content/plugins/woo*
/wp-content/plugins/gravi*
/wp-content/plugins/quf*
/wp-content/plugins/wc*
/wp-content/themes/Divi/*
SBA.sub*
*.code-work*
phpinfo.php
sftp-config.json
*.zip
*.7z
.htaccess
index.php
test*.*
SG*.*
wp-config.php
robots.txt
readme.html
license.txt
favicon.ico
sitemap.html
Thumbs.db
twp.json